{% extends "base.html" %}
{% block content %}
<div class="container">
  {% include "partials/breadcrumbs.html" %}
  <article class="text-page{% if page.image %} has-aside{% endif %}">
    <div class="text-main">
      {% include "partials/page_head.html" with h1=page.t.title kicker=page.t.kicker intro=page.t.intro %}
      <div class="prose">{{ page.t.body|rich }}</div>
      {% if page.t.note %}<aside class="note-box">{{ page.t.note|rich }}</aside>{% endif %}
      {% if page.t.button and not page.t.cta_button %}<p><a class="btn btn-primary" href="{% page_url 'contacts' %}#order" data-order data-kind="{% if page.kind == 'custom' %}custom{% else %}general{% endif %}">{{ page.t.button }}</a></p>{% endif %}
    </div>
    {% if page.image %}<figure class="text-aside">{% picture page.image widths="480,960" sizes="(min-width: 960px) 40vw, 100vw" alt=page.t.image_alt %}</figure>{% endif %}
  </article>
  {% block extra %}{% endblock %}
</div>
{% if page.t.cta_button %}{% include "partials/order_cta.html" with cta_kind="custom" cta_text=page.t.cta_text cta_label=page.t.cta_button %}{% endif %}
{% endblock %}
